.checkoutcard-indi-section {
  width: 85%;
  height: 8em;
  /* margin-left:2%; */
  /* background-color: rgba(161, 161, 161,0.05); */
  /* margin-top: 4%; */
  /* margin-right: 5%; */
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

.checkoutcard-left-section {
  width: 50%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* object-fit: cover; */
}

.checkoutcard-right-section {
  width: 50%;
  margin-left: 2%;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.checkoutcard-img {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.checkoutcard-book-name {
  width: 60%;
}

.checkoutcard-remove-icon {
  width: 10px;
  height: 10px;
}
.checkoutcard-book-cover {
  /* display: blosck; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  object-fit: contain;
  max-width: 100%;
  /* object-fit: fill; */
  /* object-position: center; */
  max-height: 40%;
  /* width: 100%; */
  /* height: 100%; */
}

.checkoutcard-book-name {
  width: 50%;
}

.checkoutcard-remove{
width: 20%;
}
.checkoutcard-remove-icon{
    padding: 3px;
  border: 1px solid rgba(161, 161, 161,0.25);

}
.checkoutcard-price{
    width: 90%;
    /* display: flex; */
    /* justify-content: left; */
    /* align-items: left; */
}