@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");
div {
  overflow: hidden;
}

.home-section {
 margin-top: 5%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.left-side {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.left-side-text {
  width: 90%;
  height: 100%;
  /* margin-top: 40%; */
  /* display: grid; */
  /* position: relative; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left:10%;
}
.info-bold {
  margin-left: 10%;
  justify-content: right;
  font-family: "Chakra Pet  ch", sans-serif;
  word-wrap: break-word;
  width: 80%;
  font-weight: 700;
  font-size: 3.5em;
}

.left-side-bg {
    margin-left: 10%;
    justify-content: right;
    font-family: "Chakra Pet  ch", sans-serif;
    word-wrap: break-word;
    /* width: 70%; */
    font-weight: 700;
    font-size: 3.5em;
    display: inline-flex;
  background-color: rgba(139, 57, 255, 0.3);
}

.info-small {
  margin-left: 10%;
  margin-top: 1%;
  text-align: left;
  font-family: "Chakra Petch", sans-serif;
  width: 70%;

  font-size: 1.5em;
  font-weight: 400;
}

.right-side {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}
.rent {
  margin-left: 10%;

  width: 70%;
}

.rent-btn {
  justify-content: left;
  align-items: left;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.5em;
  width: 8em;
  margin-top: 0.7em;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  background-color: rgb(139, 57, 255);

  border-radius: 2em;
  box-shadow: 5px 5px 5px rgb(237, 237, 237);
}

.books-section{
    width: 50vw;
    height: 70vh;
}

.books {
  align-items: left;
  margin-left:12%;
  height: 60vh;
  width: 50vh;
  border-radius: 50px;
}
